fastapi==0.111.0
uvicorn[standard]==0.30.1
langchain==0.2.6
langchain-community==0.2.6
langchain-huggingface==0.0.3
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
transformers==4.42.3
torch==2.3.1
pytesseract==0.3.10
pdf2image==1.17.0
pypdf==4.2.0
pdfplumber==0.11.1
Pillow==10.3.0
numpy==1.26.4
pydantic==2.7.4
pydantic-settings==2.3.4
python-dotenv==1.0.1
python-multipart==0.0.9
tqdm==4.66.4
rank-bm25==0.2.2
openai==1.35.7
scikit-learn==1.5.0
